break-separators = before
dock-collection-brackets = false
break-collection-expressions = fit-or-vertical
wrap-fun-args = false
sequence-style = before
break-cases = fit-or-vertical
indicate-multiline-delimiters = closing-on-separate-line
wrap-comments = true
type-decl = sparse
